

body {
  font-family: 'Playfair Display', serif;
  padding: 20px;
}






.table {
  display: table;
  
 width: 100%;
  
}

.table-row {
  display: table-row;
  
}

.table-cell {
  display: table-cell;
  padding: 10px;
}
img {
  width: 100px;
}
.row-divider {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  
  
}
.column-divider {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  
}
.header-line {
  border-top: 1px solid #ccc;
  border-bottom: 2px solid #ccc;

  
}