

body {
  font-family: 'Playfair Display', serif;
  padding: 20px;
}






.table {
  display: table;
  
 width: 100%;
  
}

.table-row {
  display: table-row;
  
}

.table-cell {
  display: table-cell;
  padding: 10px;
}
img {
  width: 150px;
}
.row-divider {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  
  
}
.column-divider {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  
}
.header-line {
  border-top: 1px solid #ccc;
  border-bottom: 2px solid #ccc;

  
}
.world-table {
  border-collapse: collapse;
  width: 100%;
}

.world-table th,
.world-table td {
  border: 2px solid #dac5c5;
  padding: 6px;
  text-align: left;
}

.world-table .header-line,
.world-table .row-divider {
  border-bottom: 1px solid #000;
}

.world-table .column-divider {
  border-right: 1px solid #000;
}

.world-table img {
  max-width: 90px;
}